<!DOCTYPE html>
<html>
    <head>
        <title>SilkRoad</title>
    </head>
    <body>
        <h1>
            Oh no! Bandits demand x credits! How will you respond?
        </h1>
        <div>
            <form name="banditSelect" method="post" action="">
                <input type="radio" name="bchoice" value="Pay" id='b1'/>Pay Up!
                <input type="radio" name="bchoice" value="Flee" id='b2'/>Flee Bandits
                <input type="radio" name="bchoice" value="Fight" id ='b3'/>Fight Them Off!
            </form>
        </div>
        <div>
            <form method="get"> 
                <button onclick="parseForm()">Submit</button>
            </form>
        </div>
    </body>
</html>

<script type="text/javascript">

</script>