<!DOCTYPE html>
<html>
    <body>
        <div>
            Allocate Skill Points
            <form name="skillPointSelect" method="post" action="">
                <table>
                    <tr>
                        <th></th>
                        <th>Skill Type</th>
                        <th>Allocation</th>
                        <th></th>
                    </tr>
                    <tr>
                        <tc>
                            <div>
                                Sailor
                                <form name="sailPoints" method="post" actions="">
                                <input type="number" name="sailPoints" min="0"/>
                                </form>
                            </div>
                        </tc>
                        <tc>
                            <th>Cannoneer</th>
                            <form name="cannonPoints" method="post" actions="">
                            <input type="number" name="cannonPoints" min="0"/>
                            </form>
                        </tc>
                        <tc>
                            <th>Barterer</th>>
                            <form name="barterPoints" method="post" actions="">
                            <input type="number" name="barterPoints" min="0"/>
                            </form>
                        </tc>
                        <tc>
                            <th>Craftsman</th>
                            <form name="craftPoints" method="post" actions="">
                            <input type="number" name="craftPoints" min="0"/>
                            </form>
                        </tc>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>