<!DOCTYPE html>
<html>
    <body>
        <div>
            Allocate Skill Points
            <form name="skillPointSelect" method="post" action="">
                <table>
                    <tr>
                        <th></th>
                        <th>Skill Type</th>
                        <th>Allocation</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="button" name="subSailing" value="-"></td>
                        <td>Sailing</td>
                        <td></td>
                        <td><input type="button" name="addSailing" value="+"></td>
                    </tr>
                    <tr>
                        <td><input type="button" name="subCannoneer" value="-"></td>
                        <td>Cannoneer</td>
                        <td></td>
                        <td><input type="button" name="addCannoneer" value="+"></td>
                    </tr>
                    <tr>
                        <td><input type="button" name="subBarterer" value="-"></td>
                        <td>Barterer</td>
                        <td></td>
                        <td><input type="button" name="addBarterer" value="+"></td>
                    </tr>
                    <tr>
                        <td><input type="button" name="subCraftsman" value="-"></td>
                        <td>Craftsman</td>
                        <td></td>
                        <td><input type="button" name="addCraftsman" value="+"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>