<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    Choose your settings
</head>
<body>
<div>
            Please Enter your Character Name
            <form name="createCharacterName" method = "post" action = '/createName'>
                <input name="characterName">
                <input type = "button" name = "Submit"><br>
            </form>
        </div>
        <div>
            <form name="difficultySelect" method="post" action="">
                <input type="radio" name="difficulty" value="Easy">Easy<br>
                <input type="radio" name="difficulty" value="Medium">Medium<br>
                <input type="radio" name="difficulty" value="Hard">Hard
            </form>
        </div>
</body>
</html>