<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    Choose your settings
</head>
<body>
<div>
            Please Enter your Character Name
            <form name="createCharacterName" method = "post" action = '/createName'>
                <input name="characterName" id='n1'>
            </form>
        </div>
        <div>
            <form name="difficultySelect" method="post" action="">
                <input type="radio" name="difficulty" value="Easy" id='d1'/>Easy
                <input type="radio" name="difficulty" value="Medium" id='d2'/>Medium
                <input type="radio" name="difficulty" value="Hard" id ='d3'/>Hard
            </form>
        </div>
        <div>
            <form name = "skillSelect" method="post" action="">
                <label for="pilotSkill">Pilot Skill</label>
                <input type = "range" min = "1" max = "16" value = "1" class = "slider" id = "pilotSkill"><br>
                <label for = "fighterSkill">Fighter Skill</label>
                <input type = "range" min = "1" max = "16" value = "1" class = "slider" id = "fighterSkill"><br>
                <label for = "merchantSkill">Merchant Skill</label>
                <input type = "range" min = "1" max = "16" value = "1" class = "slider" id = "merchantSkill"><br>
                <label for = "engineerSkill">Engineer Skill</label>
                <input type = "range" min = "1" max = "16" value = "1" class = "slider" id = "engineerSkill"><br>
            </form>
        </div>
        <div>
            <form method="get" action = '/config'>
                <button type = "submit" onclick="parseForm()">Submit</button>
            </form>
        </div>
</body>

<script type="text/javascript">

     function parseForm() {
        var diff = 0;
        var name = document.getElementById("n1").value;
        var skillpoint = 0;
        var xxhtp = new XMLHttpRequest();

        if (document.getElementById('d1').checked) {
            diff = 1;
        } else if (document.getElementById('d2').checked) {
            diff = 2;
        } else if (document.getElementById('d3').checked) {
            diff = 3;
        }

        if (document.getElementById('d1').checked) {
            skillpoint = 16;
        } else if (document.getElementById('d2').checked) {
            skillpoint = 12;
        } else if (document.getElementById('d3').checked) {
            skillpoint = 8;
        }

        xhttp.open("POST", "DifficultyReceiver", true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify({
            'difficulty' : diff,
            'name' : name
        }));
    }

</script>


</html>