<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    Choose your settings
</head>
<body>
<div>
            Please Enter your Character Name
            <form name="createCharacterName" method = "post" action = '/createName'>
                <input name="characterName">
                <input type = "button" name = "Submit"><br>
            </form>
        </div>
        <div>
            <form name="difficultySelect" method="post" action="">
                <input type="radio" name="difficulty" value="Easy" id='d1' onclick="setDifficulty()"/>Easy
                <input type="radio" name="difficulty" value="Medium" id='d2' onclick="setDifficulty()" />Medium
                <input type="radio" name="difficulty" value="Hard" onclick="setDifficulty()"/>Hard
            </form>
        </div>
        <div>
            <form method="get" action = '/config'>
                <button type = "submit">Submit</button>
            </form>
        </div>
</body>

<script type="text/javascript">
    function setDifficulty() {
        window.parent.top.console.log('here')
        if (document.getElementById('d1').checked) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                }
            };

            
            xhttp.open("POST", "receiver", true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(JSON.stringify({
                'difficulty': 'easy'
            }));
        }
        else if (document.getElementById('d2').checked) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                }
            };

            xhttp.open("POST", "receiver", true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(JSON.stringify({
                'difficulty': 'medium'
            }));
        }
        else {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                }
            };

            xhttp.open("POST", "receiver", true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(JSON.stringify({
                'difficulty': 'hard'
            }));
        }

    }

</script>


</html>