<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MY WENSITE</title>
    </head>
    <body>
        <p>Region: Arabia</p>
        <p>Coordinates: </p>
        <img height=200 width=300 src="Images/Arabia.jpg">
        <form>
            <fieldset>
                <legend> Select a Region</legend>
                <p> 
                    <label>Region Select</label>
                    <select id="myList">
                        <option value="1">Byzantium</option>
                        <option value="2">China</option>
                        <option value="3">Denmark</option>
                        <option value="4">Egypt</option>
                        <option value="5">GreatBritain</option>
                        <option value="6">India</option>
                        <option value="7">Java</option>
                        <option value="8">Persia</option>
                        <option value="9">Somalia</option>
                    </select>
                </p>
            </fieldset>
        </form>
    </body>
</html>