<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <p>Region: Egypt</p>
        <p>Coordinates: ({{region_info['region_x']}},{{region_info['region_y']}})</p>
        <p>Technology Level: {{region_info['region_tech']}}</p>
        <p>Fuel: {{region_info['fuel']}}
        <img height=200 width=300 src="Images/Egypt.jpg">

        <h1>{{ region_market[market] }}</h1>

        Local Merchant: I see you have taken a liking to my wares. What item would you like to buy?
        <form name="itemBought" method = "post" action = '/buyingItem'>
            <input type = "text" name="itembough" id='b1'>
        </form>

        <h2>{{ region_market[inventory] }}</h2>

        Local Merchant: Or would you rather sell something?
        <form name="itemSold" method = "post" action = '/sellingItem'>
            <input type = "text" name="itemsold" id='s1'>
        </form>

        <form method="get" action = ''>
                <button onclick="parseForm()">Submit</button>
        </form>

        <form>
            <fieldset>
                <legend> Select a Region</legend>
                <p> 
                    <label><u>R</u>egion Select</label>
                    <select accesskey="R" onchange="canITravel(this.options[this.selectedIndex].value)">
                        <option value="/Byzantium">Byzantium {{region_info['fuel_costs']['Byzantium']}}</option>
                        <option value="/China">China {{region_info['fuel_costs']['China']}}</option>
                        <option value="/Denmark">Denmark {{region_info['fuel_costs']['Denmark']}}</option>
                        <option value="/Arabia">Arabia {{region_info['fuel_costs']['Arabia']}}</option>
                        <option value="/Britain">Britain {{region_info['fuel_costs']['Britian']}}</option>
                        <option value="/India">India {{region_info['fuel_costs']['India']}}</option>
                        <option value="/Java">Java {{region_info['fuel_costs']['Java']}}</option>
                        <option value="/Persia">Persia {{region_info['fuel_costs']['Persia']}}</option>
                        <option value="/Somalia">Somalia {{region_info['fuel_costs']['Somalia']}}</option>
                    </select>
                </p>
            </fieldset>
        </form>
    </body>
</html>

<script type="text/javascript">

    function parseForm() {
        var buy = document.getElementById('b1').value;
        var sell = document.getElementById('s1').value;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/MarketReceiver", true);
        xhttp.RequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify({
            'itemBought' : buy,
            'itemSold' : sell
        }));
    }

    function canITravel(url) {
        var tRegion = url.replace('/', '');
        var current_fuel = "{{ region_info['fuel'] }}";
        if (tRegion == 'Byzantium') {
            var fuel_cost = "{{ region_info['fuel_costs']['Byzantium'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
        else if (tRegion == 'China') {
            var fuel_cost = "{{ region_info['fuel_costs']['China'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
        else if (tRegion == 'Denmark') {
            var fuel_cost = "{{ region_info['fuel_costs']['Denmark'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
        else if (tRegion == 'Britain') {
            var fuel_cost = "{{ region_info['fuel_costs']['Britain'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
        else if (tRegion == 'India') {
            var fuel_cost = "{{ region_info['fuel_costs']['India'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
        else if (tRegion == 'Java') {
            var fuel_cost = "{{ region_info['fuel_costs']['Java'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
        else if (tRegion == 'Persia') {
            var fuel_cost = "{{ region_info['fuel_costs']['Persia'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
        else if (tRegion == 'Somalia') {
            var fuel_cost = "{{ region_info['fuel_costs']['Somalia'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
        else if (tRegion == "Arabia") {
            var fuel_cost = "{{ region_info['fuel_costs']['Arabia'] }}";
            if (current_fuel < fuel_cost) {
                alert("You do not have enough fuel!");
            }
            else {
                goToNewPage(url);
            }
        }
    }

    function goToNewPage(url) {
        if (url != "") {
            window.open(url, "_self");
        }
    }
</script>