<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MY WENSITE</title>
    </head>
    <body>
        <p>Region: Egypt</p>
        <p>Coordinates: ({{region_info['region_x']}},{{region_info['region_y']}})</p>
        <p>Technology Level: {{region_info[region_tech]}}</p>
        <p>Fuel: {{region_info['fuel']}}
        <img height=200 width=300 src="Images/Egypt.jpg">
        <form>
            <fieldset>
                <legend> Select a Region</legend>
                <p> 
                    <label><u>R</u>egion Select</label>
                    <select accesskey="R" onchange="canITravel(this.options[this.selectedIndex].value)">
                        <option value="/Byzantium">Byzantium {{region_info['fuel_costs']['Byzantium']}}</option>
                        <option value="/China">China {{region_info['fuel_costs']['China']}}</option>
                        <option value="/Denmark">Denmark {{region_info['fuel_costs']['Denmark']}}</option>
                        <option value="/Arabia">Arabia {{region_info['fuel_costs']['Arabia']}}</option>
                        <option value="/Britain">Britain {{region_info['fuel_costs']['Britian']}}</option>
                        <option value="/India">India {{region_info['fuel_costs']['India']}}</option>
                        <option value="/Java">Java {{region_info['fuel_costs']['Java']}}</option>
                        <option value="/Persia">Persia {{region_info['fuel_costs']['Persia']}}</option>
                        <option value="/Somalia">Somalia {{region_info['fuel_costs']['Somalia']}}</option>
                    </select>
                </p>
            </fieldset>
        </form>
    </body>
</html>

<script type="text/javascript">
    function canITravel(url) {
        var tRegion = url.replace('/', '');
        var fuel_cost = "{{ region_info['fuel_costs'][" + tRegion + "] }}";
        var current_fuel = "{{ region_info['fuel'] }}";
        
        if (current_fuel < fuel_cost) {
            alert("You do not have enough fuel");
        }
        else {
            goToNewPage(url);
        }
    }

    function goToNewPage(url) {
        if (url != "") {
            window.open(url, "_self");
        }
    }
</script>