<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MY WENSITE</title>
    </head>
    <body>
        <p>Region: India</p>
        <p>Coordinates: ({{region_info['region_x']}},{{region_info['region_y']}})</p>
        <p>Technology Level: {{region_info[region_tech]}}</p>
        <p>Fuel: {{region_info['fuel']}}
        <img height=200 width=300 src="Images/India.jpg">
        <form>
            <fieldset>
                <legend> Select a Region</legend>
                <p> 
                    <label><u>R</u>egion Select</label>
                    <select accesskey="R" onchange="goToNewPage(this.options[this.selectedIndex].value)">
                        <option value="/Byzantium">Byzantium</option>
                        <option value="/China">China</option>
                        <option value="/Denmark">Denmark</option>
                        <option value="/Egypt">Egypt</option>
                        <option value="/GreatBritain">GreatBritain</option>
                        <option value="/Arabia">Arabia</option>
                        <option value="/Java">Java</option>
                        <option value="/Persia">Persia</option>
                        <option value="/Somalia">Somalia</option>
                    </select>
                </p>
            </fieldset>
        </form>
    </body>
</html>

<script type="text/javascript">

    function canITravel(url) {
        var tRegion = document.getElementById("TravelDrop");
        {{fuelcost[tRegion]}}
        if (currfuel < fuelcost) {
            windows.alert("You do not have enough fuel");
        }
        else {
            goToNewPage(url);
        }
    }

    function goToNewPage(url) {
        if (url != "") {
            window.open(url, "_self");
        }
    }
</script>
